body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loader {
  text-align: center;
}

img {
  width: 200px; /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
  height: 200px; /* Sesuaikan ukuran gambar dengan kebutuhan Anda */
}
